@charset "UTF-8";

/*
In HTML id = in CSS is # (one element)
In HTML class = in CSS is . (various elements)
*/


body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

h1#main {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.beg {
    color: #3c805e;
    font-weight: bold;
}

.med {
    color: #d4c642;
}

.adv {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}


